/* COLORS 

rgb(59, 163, 132)
#002419
rgb(17, 17, 17)
rgb(102, 102, 102)
rgb(33, 33, 33)


*/

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #333;
}

.primary-heading {
  font-size: 6rem;
  letter-spacing: -1px;
  color: #002419;
  line-height: -0.9;
  font-weight: 800;
}

.secondary-heading {
  color: #002419;
  font-size: 3.2rem;
  margin-bottom: 4.8rem;
}

/* NAVIGATION */

.navigation-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0.6px 1rem #ebebeb;
  padding: 2.4rem;
  margin-bottom: 12rem;
  font-weight: 600;
}

.logo {
  width: 10rem;
  height: 3.2rem;
}

.navigation-main-list {
  display: flex;
  gap: 2rem;
  align-items: center;
  list-style-type: none;
  font-size: 1.6rem;
}

.navlink:link,
.navlink:visited {
  text-decoration: none;
  color: rgb(102, 102, 102);
}

.navlink-active {
  color: rgb(17, 17, 17);
}

.btn-login:link,
.btn-login:visited {
  background-color: #ebebeb;
  padding: 1.1rem 1.6rem;
  border-radius: 1rem;
}

.btn-cta:link,
.btn-cta:visited {
  background-color: rgb(59, 163, 132);
  padding: 1.1rem 1.6rem;
  border-radius: 1rem;
  color: #ffffff;
  transition: all 0.4s;
}

.btn-cta:hover,
.btn-cta:active {
  background-color: rgb(1, 55, 39);
}

/* HERO ARTICLE */

.article-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130rem;
  margin: 0 auto;
  gap: 10rem;
  margin-bottom: 20rem;
}

.article-hero-text-box {
  width: 43rem;
}

.article-hero-img {
  display: block;
  width: 50%;
  height: auto;
}

.article-hero-text-header {
  margin-bottom: 2.4rem;
}

.article-hero-description {
  color: rgb(1, 55, 39);
  margin-bottom: 4rem;
  font-size: 1.6rem;
}

.btn-cta-free {
  text-decoration: none;
  color: #ffffff;
  background-color: rgb(59, 163, 132);
  padding: 1.2rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  margin-right: 1.6rem;
}

.btn-talktous {
  text-decoration: none;
  color: #000000;
  background-color: #ebebeb;
  padding: 1.2rem;
  border-radius: 1rem;
  font-size: 1.6rem;
}

/* FEATURED ARTICLE */
.article-featured {
  text-align: center;
  margin-bottom: 11rem;
}

.article-featured-logos {
  display: flex;
  justify-content: center;
  /* gap: 3.2rem; */
  align-items: center;
}

.article-featured-logo {
  filter: grayscale(100%);
  /* opacity: 50%; */
  height: 8rem;
  width: auto;
  margin-right: 3.2rem;
}

/* WHAT ARTICLE */

.article-what {
  margin-bottom: 4.8rem;
}

.article-what-text {
  text-align: center;
}

.article-what-description {
  color: rgb(17, 17, 17);
  font-size: 1.6rem;
  padding: 0 30rem;
  margin-bottom: 3.6rem;
}

.cards {
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
  font-size: 1.6rem;
}

.card {
  border: 1px solid #ebebeb;
  border-radius: 1rem;
  padding: 2rem;
}

.card-name {
  font-size: 1.8rem;
  color: rgb(1, 55, 39);
  margin-bottom: 1.6rem;
}

.free {
  color: rgb(59, 163, 132);
  font-size: 2rem;
  margin-bottom: 1.6rem;
}

.card-description {
  color: rgb(102, 102, 102);
  width: 80%;
  height: 9rem;
  margin-bottom: 3.2rem;
}

.card-list-heading {
  color: rgb(102, 102, 102);
  margin-bottom: 1rem;
}

.card-features-list {
  list-style-type: none;
  margin-bottom: 4.2rem;
  width: 78%;
}

.card-features-list > li {
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  color: rgb(1, 55, 39);
  font-weight: 500;
}

.list-icon {
  width: 1.6rem;
  height: 1.6rem;
  stroke: rgb(59, 163, 132);
}

.btn-cta-features {
  background-color: rgb(59, 163, 132);
  padding: 1.1rem 1.6rem;
  border-radius: 1rem;
  color: #ffffff;
  font-family: inherit;
  font-weight: 600;
  text-decoration: none;
  margin-right: 1rem;
}

.btn-learnmore-features {
  text-decoration: none;
  color: #000000;
  background-color: #ebebeb;
  padding: 1.2rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 600;
}

/* VIDEO ARTICLE */

.article-video {
  text-align: center;
}

.article-video-video {
  width: 90rem;
  height: 42rem;
  border-radius: 1rem;
}
